.chat-header {
    background: linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 22px 0;
    text-align: center;
    letter-spacing: 1px;
    border-bottom: 2px solid #940ee2;

}